---
## Super Linter GitHub Actions ##
name: Lint Code Base

# Start the job on all push #
on:
  push:
  pull_request:
    branches: [main]

permissions:
  contents: read

# Set the Job #
jobs:
  build:
    # Name the Job
    name: Lint Code Base
    # Set the agent to run on
    runs-on: ubuntu-latest

    # Load all steps #
    steps:
      # Checkout the code base #
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Prepare Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - run: pip install -r requirements.txt

      # Run Linter against code base #
      - name: Lint Code Base
        uses: github/super-linter/slim@v7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_JSCPD: false
          VALIDATE_PYTHON_FLAKE8: false
          VALIDATE_PYTHON_ISORT: false
          VALIDATE_PYTHON_PYLINT: false
          VALIDATE_YAML_PRETTIER: false
          DEFAULT_BRANCH: main
          VALIDATE_JSON_PRETTIER: false
